*{
    transition: all .2s ease-in-out;
}

.flex-column{
    height: 80vh;
}
section .btn {
    cursor: pointer;
    border-style: none;
    color: white;
    height:25%;
    width: 100%;
}
#map{
    background-color: rgba(149,148,148,1);
}
#nbr{
    background-color: rgba(64,64,64,1);
}
#natl{
    background-color: rgba(149,148,148,1);
}
#intl{
    background-color: rgba(64,64,64,1);
}