*{
    transition: all .2s ease-in-out;
}

.flex-column{
    height: 80vh;
}
section .btn {
    cursor: pointer;
    border-style: none;
    color: white;
    height:25%;
    width: 100%;
}
#map{
    background-color: rgba(248,177,149,1);
}
#nbr{
    background-color: rgba(246,114,128,1);
}
#natl{
    background-color: rgba(192,108,132,1);
}
#intl{
    background-color: rgba(108,91,123,1);
}